title=title
meta(charset='UTF-8')
meta(name='robots' content='index, follow')
meta(name='viewport' content='width=device-width, initial-scale=1')
meta(name='theme-color' content='#FFFFFF')
meta(name='keywords' content='chess, ai')
meta(name='description' content='Play chess with AI')
meta(name='author' content='Kamil Frydlewicz')