extends ../layout.pug

block content
    header
        .header__logo
            .header__logo__knight
                include ../../public/images/knight.svg
            .header__logo__rook
                include ../../public/images/rook.svg
        h1 Chess AI
    nav
        .buttons
            a.button(href='/game/ai') New game with AI
            a.button(href='/game/host') New game with human
            a.button#joinGame Join game
    script(defer src='/scripts/particles.min.js')
    script(defer src='/scripts/home.js')