doctype html
html
    head
        include includes/meta.pug
        link(rel='stylesheet' href='/styles/style.css')
    body#body
        block content
        footer
            | &copy;&nbsp;
            a(target='_blank' rel='noopener' href='https://frydlewicz.pl') Kamil Frydlewicz
            | &nbsp;
            =year